body {

  font-family: 'Inter', Helvetica, Arial;
  color: #EEE;

  background: #333;
  margin: 0;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
  overflow: scroll;
}